@font-face {
  font-family: "icomoon";
  src: url("/assets/icomoon/fonts/icomoon.eot?c9v40q");
  src: url("/assets/icomoon/fonts/icomoon.eot?c9v40q#iefix")
      format("embedded-opentype"),
    url("/assets/icomoon/fonts/icomoon.ttf?c9v40q") format("truetype"),
    url("/assets/icomoon/fonts/icomoon.woff?c9v40q") format("woff"),
    url("/assets/icomoon/fonts/icomoon.svg?c9v40q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crow:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e903";
  color: #ff3e00;
}
.icon-athega_logo:before {
  content: "\e900";
  color: #f60;
}
.icon-logo-simple:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-tooltip:before {
  content: "\e90c";
}
.icon-code:before {
  content: "\e906";
}
.icon-hexagon:before {
  content: "\e904";
}
.icon-icon:before {
  content: "\e905";
}
.icon-font:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e908";
}
.icon-left:before {
  content: "\e909";
}
.icon-down:before {
  content: "\e90a";
}
.icon-up:before {
  content: "\e90b";
}
